[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
requests = "*"
pymysql = "*"
mysqlclient = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"
tzdata = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
